<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <header>
    <img src="../assets/BookstoreLogo.png" alt="logo">
    <ul>
        <li><input type="text" /></li>
        <li><input type="button" value="search" /></li>
        <li><a routerLink='/myOrders/101'>Orders</a></li>
        <li><a>Sign Out</a></li>
        <li><a routerLink ='/cart/101'>Cart</a></li><br>
        <span>Welcome,(User)</span>
    </ul>
  </header>
  <main>
    <div style="text-align:center; font-size: large;"><b>Your Cart Details</b></div>
        <table class="table table-dark">
            <thead>
                <tr>
                <th style="height: 40px; width: 100px;">No</th>
                <th>Book</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>SubTotal</th>
                <th><button (click)="clearCartByCustomerId()" class="btn btn-danger">Clear Cart</button></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cart of cartProducts; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{cart.book.title}}</td>
                    <td>{{cart.book.price}}</td>
                    <td><input type="number" value={{cart.quantity}} size="3"/></td>
                    <td>{{cart.subTotal}}</td>
                    <td><button (click)="removecartItem(cart.cartId)" class="btn btn-danger">Delete</button>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" (click)="updateCart()">Update</button>
        <button type="submit" id="gap" class="btn btn-primary" (click)="goToHome()">Continue Shopping</button>
        <button type="submit" id="btn" class="btn btn-primary" (click)="checkOut()">Check Out</button>
    <br><br>
</main>
<footer>
    <p>Copyright (c) 2020 by Evergreen Books Co., Ltd</p>
</footer>
</body>
</html>
